@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\000032}}
#myLiveBlog {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\000037}}
#myLiveBlog.lb {
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000311}}
#myLiveBlog.lb .lb-post {
  border-bottom: 1px dotted #AAAAAA;
  clear: both;
  display: block;
  /*float: left;*/
  margin-bottom: 1em;
  overflow: hidden;
  padding-bottom: 1em;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000321}}
#myLiveBlog.lb .lb-post img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000329}}
#myLiveBlog.lb .lb-comment {
  padding-left: 30px;
  background-color: #EEEEEE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000334}}
#myLiveBlog.lb .lb-post-text {
  float: left;
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000343}}
#myLiveBlog.lb .lb-post-timestamp {
  clear: both;
  color: #777777;
  display: block;
  float: left;
  font-size: 0.8em;
  line-height: 17px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000352}}
#myLiveBlog.lb .lb-post-timestamp .twitter-share-button {
  bottom: 0;
  position: absolute;
  right: -61px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000363}}
#myLiveBlog.lb .lb-post-tags {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.livebloglite\.aolcom\.scss}line{font-family:\0000370}}
#myLiveBlog.lb .lb-post-tags li {
  float: left;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0px 3px;
  background-color: #AAAAAA;
  color: #FFFFFF;
  border-radius: 2px;
}
