@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\000033}}
#aol-content .lb {
  font-family: inherit;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\000037}}
#aol-content .lb .lb-post-container {
  height: 600px;
  border-bottom: 2px solid #AAAAAA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\0000312}}
#aol-content .lb .lb-post {
  margin-bottom: 0px;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\0000316}}
#aol-content .lb .lb-post img {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\0000321}}
#aol-content .lb .lb-post-timestamp {
  line-height: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\0000325}}
#aol-content .lb .lb-post-tags li {
  background: none;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/github\/jquery-liveupdate\/assets\/scss\/aol\.liveupdate\.aolcom\.scss}line{font-family:\0000333}}
.IE7 #aol-content .lb .lb-post,
.IE #aol-content .lb .lb-post {
  margin-bottom: 0;
}
