@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\000033}}
body {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\000038}}
.lb {
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000311}}
.lb .lb-post {
  /*float: left;*/
  clear: both;
  display: block;
  border-bottom: 1px dotted #AAAAAA;
  overflow: hidden;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 0;
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000326}}
.lb .lb-post img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000335}}
.lb .lb-comment {
  padding-left: 50px;
  background-color: #EEEEEE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000340}}
.lb .lb-post-text {
  float: left;
  display: block;
  clear: both;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000350}}
.lb .lb-post-timestamp {
  clear: both;
  color: #999999;
  display: block;
  float: left;
  font-size: 0.7em;
  line-height: 17px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000359}}
.lb .lb-post-timestamp .twitter-share-button {
  bottom: -3px;
  position: absolute;
  right: -61px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000370}}
.lb .lb-post-tags {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000377}}
.lb .lb-post-tags li {
  float: left;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 2px 5px;
  background-color: #AAAAAA;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000387}}
.lb .lb-toolbar {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #AAAAAA;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\0000395}}
.lb .lb-pause-button {
  display: inline-block;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #DDDDDD;
  padding: 6px 8px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003103}}
.lb .lb-pause-button:hover {
  background-color: #BBBBBB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003108}}
.lb .lb-timeline {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003114}}
.lb .lb-timeline-slider {
  display: block;
  font-size: 11px;
  height: 10px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003121}}
.lb .lb-timeline-label {
  display: block;
  font-size: 0.7em;
  margin: 0 0 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003127}}
.lb .lb-more-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #DDDDDD;
  padding: 6px 0px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nateeagle5\/Projects\/aol\/liveblog-widget\/assets\/scss\/aol\.livebloglite\.scss}line{font-family:\00003137}}
.lb .lb-more-button:hover {
  background-color: #BBBBBB;
}
