@import "compass/css3";

body {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	padding: 20px;
}

.lb {
    padding-right: 10px;

    .lb-post {
        float: left;
        clear: both;
        width: 100%;
        border-bottom: 1px dotted #AAAAAA;
        padding: 0;
        margin: {
            bottom: 1em;
            top: 0;
        }
        padding: {
            bottom: 1em;
        }

        img {
            float: left;
            margin: {
                right: 15px;
                bottom: 10px;
            }
        }
    }

    .lb-comment {
        padding-left: 50px;
        background-color: #EEEEEE;
    }

    .lb-post-text {
        float: left;
        display: block;
        clear: both;
        margin-bottom: 5px;
    }

    .lb-post-caption {
    }

    .lb-post-timestamp {
        float: left;
        display: block;
        clear: both;
        font-size: 0.7em;
        color: #999999;
        line-height: 17px;
    }

    .lb-post-tags {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.7em;
    }
    .lb-post-tags li {
        float: left;
        list-style: none;
        margin: 0 0 0 1em;
        padding: 2px 5px;
        background-color: #AAAAAA;
        color: #FFFFFF;
        @include border-radius(2px);
    }
    
    .lb-toolbar {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #EEEEEE;
        border-bottom: 1px solid #AAAAAA;
        @include border-radius(8px);
    }
    
    .lb-pause-button {
        border: 1px solid #CCCCCC;
        @include border-radius(3px);
        background-color: #DDDDDD;
        padding: 6px 8px;
        cursor: pointer;
        
        &:hover {
            background-color: #BBBBBB;
        }
    }

}
