
#aol-content {
	.lb {
		font-family: inherit; 
		font-size: 14px;
		
		.lb-post-container {
			height: 600px; 
			border-bottom: 2px solid #AAAAAA;
		}
		
		.lb-post {
			margin-bottom: 0px; 
			line-height: normal;
			
			img {
				height:auto;
			}
		}
		
		.lb-post-timestamp {
			line-height: 15px;
		}
		
		.lb-post-tags li {
			background: none; 
			padding: 0;
		}
	}
}

.IE7 #aol-content .lb .lb-post, 
.IE #aol-content .lb .lb-post {
	margin-bottom: 0;
}
