@import "compass/css3";

#uacLiveBlog.lb {

	padding: 0;
	border: 1px solid #CCCCCC;
	@include inline-block();
	font-size: 13px;

	.lb-post-container {
		margin: 0;
		overflow-y: hidden;
	}
	
	.lb-post {
		padding: {
			right: 10px;
		}
		
		img {
			margin: {
				left: 10px;
			}
		}
		
		&.lb-comment {
			padding-left: 50px;
			
			.lb-post-text {
				padding-left: 0px;
			}
			.lb-post-info {
				padding-left: 0px;
			}
		}
	}
	
	.lb-post-text {
		padding-left: 10px;
	}
	
	.lb-post-info {
		padding-left: 10px;
	}
		
}